{% extends 'base.html' %}
{% load static %}

{% block title %} corredores {% endblock title %}

{% block main %}
    <div>
        {% if perms.corredores.add_movie %}
            <a href="{% url 'crear_corredor' %}" class="m-2 btn btn-primary">Crear corredor</a>
        {% endif %}
    </div>
    {% if object_list %}
        <div class="row">
            {% for corredor in object_list %}
                <div class="card m-2" style="width: 18rem;" >
                    <div class="card-body">
                    <h5 class="card-title">{{ corredor.nombre }} {{ corredor.apellido }}</h5>
                    <p class="card-text">email: {{ corredor.email }}</p>
                    <a href="{% url 'mostrar_corredores' corredor.id %}" class="btn btn-primary">Ver</a>
                    {% if perms.estudiante.change_movie %}
                        <a href="{% url 'editar_corredores' corredor.id %}" class="btn btn-primary">Editar</a>
                    {% endif %}
                    {% if perms.estudiante.delete_movie %}
                        <a href="{% url 'corredores' corredor.id %}" class="btn btn-primary">Borrar</a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card" style="width: 18rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}